# Extra Ansible vars and vault password file
vars/
vault.yml
.vault_pass.txt
inventories/*

# Testing files
tests/docker_hosts
id_*
*_id_*
# Temp entry, considering adding vagrant for testing just for research
tests/vagrant

# OpenVPN client config files
*.ovpn

# MacOS stuff
.DS_Store